/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root { /* Color palette for css */
/* --main-color: #BD1A11;  Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*}*/


/* BLOG POST CREATE & EDIT PAGES */

.Blogpost-createandedit-form {
    width: 50%;
    margin: 0 auto;
    padding-top: 10px;
    background-color: var(--main-color--light);
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--main-color), -1px -1px 0px var(--light-color);
    text-align: center
}

.Blogpost-createandedit-label {
    padding: 10px;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.Blogpost-createandedit-heading1 {
    color: var(--secondary-color);
    text-align: center;
    margin-bottom: 25px;
    padding-top: 50px;
}

.Blogpost-createandedit-div {
    padding: 10px;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
}

.Blogpost-createandedit-input {
    background-color: white;
    border: 2px solid black;
}

    .Blogpost-createandedit-input:focus {
        background-color: var(--light-color);
        border: 2px solid var(--secondary-color--dark);
        box-shadow: 0px 0px 10px var(--secondary-color--dark);
    }

    .Blogpost-createandedit-input:hover {
        box-shadow: 0px 0px 10px var(--secondary-color--dark);
    }

/* Style create button */
.BlogPost-create-button {
    background-color: var(--secondary-color);
    font-weight: bold;
    margin-bottom: 10px;
}

    /* Button hover effect */
    .BlogPost-create-button:hover {
        box-shadow: 0px 0px 5px var(--light-color);
    }

/* Style back to list button */
.BlogPost-back-to-list-button {
    background-color: var(--light-color);
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--main-color), -1px -1px 0px var(--light-color);
}

/* Button hover effect */
.BlogPost-back-to-list-button {
    box-shadow: 0px 0px 5px var(--secondary-color--dark);
}