/* CSS color variables */
:root {
    /* Color palette for css */
    --main-color: #bd1a11; /* Red */
    --main-color--light: #f04d44; /* Red, a shade lighter */
    --secondary-color: #d6972a; /* Yellow gold */
    --secondary-color--dark: #9d7c39; /* Dark Gold */
    --light-color: #fffbfb; /* White */
    --dark-color: #000000; /* Black */
}

/*Styling for Sign-In Page: Developers*/
#PersonList p {
    list-style: upper-alpha;
    width: 5em;
    text-align:center;
    padding-top:2.5px;
    background-color: var(--main-color--light);               
    border:solid;
    border-color:var(--main-color--light);
    border-radius:25px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    width:200px;
    height:40px;
    font-weight: bold;
}

#PersonList{
    column-count:4;
}